@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
html, body { 
  width: 100%;
  height: 100%; 
  margin: 0;
  background: #270F34; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  contain: content;
  overflow: clip;
  font-family: 'Poppins'
}

.text{
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 0.65vw;
  letter-spacing: 0.5vmin;

}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}